@model IEnumerable<CalumBSUAttempt2.Models.Film>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{

        //variables to save values
        string first = "";
        DateTime firstDate = new DateTime(1 / 1 / 1500);
        string second = "";
        DateTime secondDate = new DateTime(1 / 1 / 1500);
        string third = "";
        DateTime thirdDate = new DateTime(1 / 1 / 1500);
        string fourth = "";
        DateTime fourthDate = new DateTime(1 / 1 / 1500);
        string fifth = "";
        DateTime fifthDate = new DateTime(1 / 1 / 1500);

        //
        foreach (var item in Model)
        {
            if (item.ReleaseDate > firstDate)
            {
                first = item.FilmImage;
                firstDate = item.ReleaseDate;
            }
            else if (item.ReleaseDate > secondDate)
            {
                second = item.FilmImage;
                secondDate = item.ReleaseDate;
            }
            else if (item.ReleaseDate > thirdDate)
            {
                third = item.FilmImage;
                thirdDate = item.ReleaseDate;
            }
            else if (item.ReleaseDate > fourthDate)
            {
                fourth = item.FilmImage;
                fourthDate = item.ReleaseDate;
            }
            else if (item.ReleaseDate > fifthDate)
            {
                fifth = item.FilmImage;
                fifthDate = item.ReleaseDate;
            }
        }

        <img height=100 width=100 src=@first alt="Image">
        <img height=100 width=100 src=@second alt="Image">
        <img height=100 width=100 src=@third alt="Image">
        <img height=100 width=100 src=@fourth alt="Image">
        <img height=100 width=100 src=@fifth alt="Image">

    }
</div>