@model IEnumerable<CalumBSUAttempt2.Models.Film>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{ 
        string first = "";
        DateTime firstDate = new DateTime(1 / 1 / 1500);
        string second = "";
        DateTime secondDate = new DateTime(1 / 1 / 1500);
        string third = "";
        DateTime thirdDate = new DateTime(1 / 1 / 1500);
        string fourth = "";
        DateTime fourthDate = new DateTime(1 / 1 / 1500);
        string fifth = "";
        DateTime fifthDate = new DateTime(1 / 1 / 1500);
        /*
        foreach (var item in Model)
        {
            if (item.ReleaseDate > firstDate)
            {
               
            }
        }
        */
    }
</div>